
.footer {
  text-align: center;
  position: absolute;
  z-index: 100;
  bottom: 0%;
  width: 100%;
}
/* 첫번째 줄 */
.footer ul {

  width: 80%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
/* 글자 굵기설정 */
.footer ul li {
  margin: 0 1em;
  margin-top: 3rem;
  text-transform: capitalize;
  font-weight: 400;
  max-width: 550px;
}
/* 줄 간격 변경 */
.footer ul li a {
  color: whitesmoke;
  font-size: 1.2rem;
  line-height: 20px;
}
